.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color:black;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center {
  text-align: center;
  color: yellow;
  line-height: 10px;
  font-family: sans-serif;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px rgb(106, 95, 204);
  
  
  
}

.expense-container > h3{
  margin: 20px;
  text-align: center;
}


.trnsaction-list {
  margin: 0;
  padding: 0;
}

.trnsaction-list > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px yellow;
  
  
}

.transaction-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  background-color:white;
  border-radius: 5px;
  

}

.btn {
  background-color: red;
  border-radius: 8px;
  color: white;
  width: 100%;
  padding: 12px;
  border-color: white;
  box-shadow: 0 0 10px rgb(106, 95, 204);
  
}
.blnc{
  color: yellow;
  font-style: oblique;
  font-size: 17pt;
}
.history{
  color: white;
}
.new{
  color: yellow;
  
}
.delete-btn {
  cursor: pointer;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 5px;
  
  
}
.transaction-form{
  color: #fff;
  
}
